.modal, label, span, input {
    color: #2BBBAD;

}
nav {
    /* opacity: 0.9; */
}
body {
    background-image: url("../imgs/map.jpg");
    background-size: cover;
}
div .card-panel, .btn {
    background-color: #2BBBAD;
    /* opacity: 0.9; */
}
img {
display: block;
margin: 0 auto;

}